
<link rel="stylesheet" href="/css/sign_up.css">
<div class="edit">
    <h3> Sign up form</h3>
    <form action="/sign-up/create" method="POST">
        <input type="text" name="name" placeholder="your name" required>
        <input type="email" name="email" placeholder="your email" required>
        <input type="password" name="password" placeholder="your password" required>
        <input type="password" name="confirmpassword" placeholder="Confirm password" required>
        <input type="text" name="phone" placeholder="Your phone number" required>
        <!-- <input type="text" name="second_email" placeholder="Another email" required> -->
        <input type="text" name="working_place" placeholder="Working Place" required>
        <input type="text" name="designation" placeholder="Designation" required>
        <br>
        <input type="submit" value="Sign-up">

    </form>
</div>



