
<link rel="stylesheet" href="/css/user_detail.css">// this one

<div class="edit">

   
    <h1>
        this is user detail form
    </h1>
    <form action="/user/detail" method="POST">
        <input type="text" name="phone" placeholder="Your phone number" required>
        <input type="text" name="second_email" placeholder="Another email" required>
        <input type="text" name="working_place" placeholder="Working Place" required>
        <input type="text" name="designation" placeholder="Designation" required>
        <br>
        <input type="submit" value="submit">

    </form>



</div>