<link rel="stylesheet" href="<%=assetPath('css/sign_in.css')%>">
<div class="edit">
    <form action="/sign-in/session" method="POST" >
        <input type="email" name="email" placeholder="enter your email" required>
        <input type="password" name="password" placeholder="enter your password" required><br>
        
        <input type="submit" value="Sign-in">
    </form>
    <p>
        <a href="/user/auth/google">Sign-in/Sign-up with google</a>
    </p>

    

</div>
<!-- enctype="multipart/form-data" -->